<script type="text/x-template" id="customMain">
    <div class="main">
        <div style="margin: 10px;">MAIN</div>
        <custom-block></custom-block>
        <custom-block></custom-block>
        <custom-block></custom-block>
    </div>
</script>
<script type="text/x-template" id="customBlock">
    <div class="block">B</div>
</script>
<script type="text/x-template" id="customHeader">
    <div class="header">Header</div>
</script>
<script type="text/x-template" id="customAside">
    <div class="aside">Aside</div>
</script>